body {
  font-family: Arial, sans-serif;
  font-size: 16px;
}

.btn_blue{
  background: #eee;
  color: #06e;
  text-decoration: none;
  display: block;
  width: 90px;
  text-align: center;
  margin: 20px auto;
  padding: 10px 10px;
  transition: all 0.3s;
}
.btn_blue:hover{
  box-shadow: 0px -5px 0 #06e inset;
}

.popup_message {
  position: fixed;
  padding: 10px 15px;
  background-color: #ddd;
  border-radius: 4px;
  opacity: 0.5;
}

.popup_right {
  right: 10px;
}

.popup_left {
  left: 10px;
}

.popup_top {
  top: 10px;
}

.popup_bot {
  bottom: 10px;
}