body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.user-form {
    display: flex;
    flex-direction: column;
    margin: auto;
    border: 1px solid #bbb;
    padding: 10px 15px;
    border-radius: 4px;
    width: 400px;
    text-align: center;
    box-shadow: 0px 0px 33px 18px rgba(0, 0, 0, 0.12);
}

.user-form .row {
    display: flex;
    justify-content: space-around;
}

.limbs_wrap {
    display: flex;
    justify-content: center;
}

.contract_accept {
    font-style: italic;
    margin-bottom: 10px;
}

.user-form input,
.user-form textarea,
.user-form select {
    border-radius: 3px;
    border: 1px solid #aaa;
    padding: 10px;
    font-size: 1rem;
}

.user-form__btn-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
}

.error_field {
    border: 2px solid red !important;
}

.error_field_message {
    font-size: 12px;
    color: red;
    margin: 5px auto;
}